<a 
style="cursor: pointer;"
[routerLink]="[index]"  
routerLinkActive="active"  
class="list-group-item clearfix">            
    <div class="pull-left">
        <!-- <h4 class="list-group-item-heading">Player</h4>  -->
        <span class="list-group-item_heading"> {{ player.firstName }} {{ player.lastName }}, {{ player.birthCity}} </span>              
    </div>
    <span class="pull-right">
        <img 
            [src]="player.imageURL"
            alt="{{player.lastName}}"
            class="img-responive"
            style="max-height: 40px;">
    </span>
</a>
